@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #020617;
  color: #e2e8f0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}
